.sidebar-wrapper {
  height: 100vh;
  border-right: 0.125rem solid black;
  padding: 1.5625rem;

  .sidebar-list-wrapper {
    margin-top: 5rem;
    .sidebar-list-item {
      margin-bottom: 0.3125rem;
      .sidebar-list-item-link {
        text-decoration: none;
        color: black;
      }
      .sidebar-list-item-link.active {
        color: blue;
        border-bottom: 0.0625rem solid blue;
      }
    }
  }
}
